html {
  width: 1080px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div {
  margin: 10px;
  padding: 10px;
}
p, h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}

input {
  width: 80%;
  margin: 10px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

select {
  width: 80%;
  margin: 10px;
}

#questions {
  /* width: 100%; */
  display: flex;
}
#Robot\ Information, #Autonomous, #Tele-Op, #Other {
  width: 24.99%;
  display: inline-block;
}
