html {
  /* width: 400px; */
  border: 0px;
  margin: 0px;
  background-color: #303030;
}

div {
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  text-align: center;
  background-color: transparent;
}

div.tab {
  border: 1px solid white;
  background-color: #CD0004;
}

div.card {
  background-color: #AA0A0C;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 2vw;
  color: white;
  text-align: center;
  padding-right: 5px;
  margin: 5px;
  font-family: serif;
}

h1 {
  font-size: 5vw;
  margin: 5px;
}

h2 {
  font-size: 3vw;
  margin: 5px;
}

input:not([type=checkbox]), select {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  height: 5vw;
}

input[type=checkbox] {
  -ms-transform: scale(3);
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
  padding: 5px;
  margin: 5px;
}

button[type=submit] {
  width: 100%;
  margin-top: 5px;
  font-size: 30px;
  background-color: #AA0A0C;
  border: none;
  color: white;
  font-family: serif;
}

div.column {
  float: left;
  box-sizing: border-box;
  /* margin: auto auto; */
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
  padding: 0px;
  border: none;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0px;
}
